# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.egg-info/

# Dependencias
node_modules/

# IDE/Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Archivos locales
.env
.env.local
backend/uploads/
backend/sixat_backup.backup
